
:root{
	--gris:#212129;
	--rosa:#fe4a7d;
	--claro: rgba(255,255,255,.7);
}

*{
	margin: 0px;
	font-family: 'Righteous', cursive;
	font-size: 101%;
}


body{
	background:rgba(254, 232, 213);

}

main{
	margin-left: 300px;
	margin-top:50px;
	background:rgba(254, 232, 213);
	min-height: 100vh;

}

nav{
	width: 100%;
	/* height: 50px; */
	position: fixed;
	/* position: relative; */
	z-index: 9;
	left: 0px;
	top: 0px;
	background-color: #34222E;
}

	.logo{
		width: 300px;
		height: 50px;
		text-align: center;
		color:var(--rosa);
		line-height: 50px;
		font-size: 1em;
		background:rgba(255,255,255,.03);
		float: left;
	}

		.logo h1{
			font-size: 1.2em;
			font-weight:300;
			margin: 15px;
		}

	.perfil{
		float: right;
		width: 300px;
		height: 50px;
	}

		.perfil-nombre{
			width: 200px;
			height: 50px;
			background-color: rgba(255,255,255,.03);
			float: left;
			line-height: 50px;
			padding-left: 5px;
			box-sizing: border-box;
			color: rgba(255,255,255,.7);
		}
		.perfil-logout{
			width: 50px;
			height: 50px;
			float: left;
			text-align: center;
			color: white;
			margin: 13px;
		}

		.perfil-logout div:hover{
			opacity: 1;
		}


aside{
	position: fixed;
	/* position: absolute; */
	height: calc(100% - 50px);
	background-color: #34222E;
	width: 300px;
	top: 50px;
	left: 0px;
}

	.menu{
		float: left;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,.05);
	}

	.menu h1{
		margin-top: 60px;
		font-size: 1em;
	}

	aside ul{
		float: left;
		list-style-type: none;
	}

	aside li{
		list-style-type: none;
		margin-left: -25px;
		margin-top: 20px;
		float: left;
		width: 100%;
		padding-left: 10px;
		height: 30px;
		line-height: 30px;
		font-size: 1em;
		color: rgba(255,255,255,.5);
		box-sizing: border-box;
		min-width: 100%;
	}

	aside a:hover{
		border-left:3px solid var(--rosa);
		cursor: pointer;
		background:rgba(0,0,0,.1);
		color: var(--rosa) !important;
		text-decoration: none;
		min-width: 100%;
	}

	aside a{
		color: grey;
		min-width: 100%;
	}


	aside h1{
		float: left;
		color: rgba(255,255,255,.6);
		font-size: .8em;
		font-weight: bolder;
		padding-left: 10px;
		box-sizing: border-box;
		line-height: 30px;
		height: 30px;
		width: 100%;
	}


.dashboard-bienvenida{
	width: 500px;
	height: 390px;
	color: #34222E;
	border:1px black;
	position: fixed;
	left: calc(50% - 100px);
	top: calc(50% - 125px);
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

.dashboard-bienvenida h1{
		text-align: center;
}

.center{
	text-align: center;
}

.contenedor-formulario{
	padding-top: 5%;
}

.contenedor-index{
	width: 800px;
	position: absolute;
	left: calc(50% - 400px);/*CENTRAR 50 - la mitad de lo que mide*/
	top: 50px;
	background: var(--gris);
	border-radius: 10px;
	overflow: hidden;
}


.card{
	background-color: #f9bf8f !important;
}

.card-formulario{
	margin-top:10% !important;
	background-color: #f9bf8f !important;
	color: #34222e;
}

.card button {
	background-color: #34222e;
	border-color: #34222e;
}


.mensaje{
	width: 100%;
	height: 40px;
	background-color: #e2434b;
	color: white;
	text-align: center;
	top: -40px;
	position: absolute;

}
.mensaje h1{
	font-weight: 300;
	font-size: 1em;
	line-height: 40px;
}
