
.header-login{
	text-align: center;
	color: white;
}

#registrarse{
	opacity: 0.5;
}
.margin-top{
	margin-top: 20px;
}

.margin-top-registro{
	margin-top: 30px;
}

	.contenedor-login{
		width: 250px;
		height: 390px;
		position:relative;
		float: center;

		background-color: #34222E;
		/* position: fixed; */
		left: calc(50% - 140px);
		top: calc(50% - 125px);
		margin-top: 200px;
		/* z-index: 999; */
		border-radius: 10px;
		/* opacity: 0; */
		/* display: none; */
		padding: 15px;
	}


.contenedor-login button{
	width: 50%;
	/* background-color: var(--rosa); */
	background-color: #E2434B;
	color: white;
	border: none;
	height: 30px;
	border-radius: 15px;
	margin-left: 25%;
	margin-top: 10px;
}

.formulario, .registro{
width: 90%;
float: left;
/* padding: 0px 10px; */
/* padding: 10px 10px; */
box-sizing: border-box;
transition: .5s all;
position: absolute;
/* margin-top: 100px; */
}

.formulario p, .registro p{
	font-size: 0.8em;
	font-weight: 100;
	margin-top: 10px;
	float: left;
	width: 100%;
	color:var(--claro);
}

.formulario>input, .registro>input{
	border-radius: 2px;
	width: 100%;
	float: left;
	border:none;
	height: 25px;
	margin-top: 5px;
	outline: none;
	padding-left: 5px;
	box-sizing: border-box;
	background: rgba(255,255,255,.05);
	color: white
}

.formulario label, .registro label{
	width: 80%;
	float: right;
	text-align: right;
	font-size: .4em;
	margin-top: 20px;
	color:var(--claro)
}

.formulario button, .registro button{
	width: 150px;
	border:none;
	outline: none;
	height: 30px;
	border-radius: 15px;
	margin-left: calc(50% - 75px);
	margin-top: 30px;
	color: white;
}

.formulario a, .registro a{
	text-align: center;
	width: 100%;
	float: left;
	font-size: .6em;
	margin-top: 20px;
	color: var(--rosa);
	margin-bottom: 50px;
}



.oculto{
opacity: 0;
}

.oculto-login{

	margin-left: 350px;
	opacity: 0;
}

#logo-perrito{
	width:250px;
	height:163px;
	position: fixed;
  top: 5%;
  left: calc(50% - 150px);
  width: 300px;
}
